Node-RED_ESP32_MQTT_DHT22_RTC.json
[
    {
        "id": "6598b3a39e754198",
        "type": "tab",
        "label": "MQTT DHT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43c0ecf62a8d5e0f",
        "type": "aedes broker",
        "z": "6598b3a39e754198",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f31b47d549f29416",
        "type": "mqtt in",
        "z": "6598b3a39e754198",
        "name": "",
        "topic": "jhnizl/sensordata",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "990704f70c332851",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "9572d6a4409747b8"
            ]
        ]
    },
    {
        "id": "bad2eef9b95b1b84",
        "type": "debug",
        "z": "6598b3a39e754198",
        "name": "ALL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "9572d6a4409747b8",
        "type": "json",
        "z": "6598b3a39e754198",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "bad2eef9b95b1b84",
                "457049353f9f3f6c",
                "1981f6fb6fc78ae0",
                "f0bbcd2664c079f4"
            ]
        ]
    },
    {
        "id": "457049353f9f3f6c",
        "type": "function",
        "z": "6598b3a39e754198",
        "name": "parse temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "ca76e871d139ad4c",
                "6d621ac7117ec8dd",
                "4baac925bf216fa5",
                "b18ba2e265714cfd"
            ]
        ]
    },
    {
        "id": "ca76e871d139ad4c",
        "type": "debug",
        "z": "6598b3a39e754198",
        "name": "tempc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "1981f6fb6fc78ae0",
        "type": "function",
        "z": "6598b3a39e754198",
        "name": "parse hum",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "6837c5bd4a395c03",
                "f4c5769ab4d8479e",
                "6b62da042d69e802",
                "6a59593f7e779726"
            ]
        ]
    },
    {
        "id": "6837c5bd4a395c03",
        "type": "debug",
        "z": "6598b3a39e754198",
        "name": "hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0bbcd2664c079f4",
        "type": "function",
        "z": "6598b3a39e754198",
        "name": "function 6",
        "func": "// Extracting tempc, humidity, and pot\nvar tempC = msg.payload.temperature.toFixed(2);\nvar humidity = msg.payload.humidity.toFixed(2);\nvar realtime = msg.payload.realtimeclock;\n\n// Parse\nvar itempC = parseFloat(tempC);\nvar ihum = parseFloat(humidity);\n\n//============================= SQL USE\n\n// Creating the SQL query\nvar temp = \"INSERT INTO [Dev].[dbo].[MQTTData] (Temperature, Humidity, Timestamp) VALUES (\" + itempC + \", \" + ihum + \",'\" + realtime + \"')\";\n\n// Set the SQL query to the payload\nmsg.payload = temp;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "a740954074505b86"
            ]
        ]
    },
    {
        "id": "a740954074505b86",
        "type": "MSSQL",
        "z": "6598b3a39e754198",
        "mssqlCN": "e4ced3c6a5375188",
        "name": "localhost",
        "query": "",
        "outField": "payload",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "4c4d659b7096aee6"
            ]
        ]
    },
    {
        "id": "4c4d659b7096aee6",
        "type": "debug",
        "z": "6598b3a39e754198",
        "name": "-o SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "4baac925bf216fa5",
        "type": "ui_chart",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6d621ac7117ec8dd",
        "type": "ui_gauge",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b62da042d69e802",
        "type": "ui_chart",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c5769ab4d8479e",
        "type": "ui_gauge",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "6cf3ba8aaffd425e",
        "type": "ui_text",
        "z": "6598b3a39e754198",
        "group": "01496cdc1387df8e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alexander Johan Pramudito (22/492990/TK/53976)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "15e618f8bf224a7e",
        "type": "ui_text",
        "z": "6598b3a39e754198",
        "group": "01496cdc1387df8e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Muhammad Fajrulfalaq Izzulfirdausyah Suryaprabandaru (22/494174/TK/54184)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "6a59593f7e779726",
        "type": "ui_gauge",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "b18ba2e265714cfd",
        "type": "ui_gauge",
        "z": "6598b3a39e754198",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "990704f70c332851",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "180",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e4ced3c6a5375188",
        "type": "MSSQL-CN",
        "name": "SQL",
        "server": "localhost",
        "encyption": true,
        "database": "Dev"
    },
    {
        "id": "aa7bcc8a27ba629e",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "bf813ccbc4a9c629",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01496cdc1387df8e",
        "type": "ui_group",
        "name": "Nama Mahasiswa",
        "tab": "bf813ccbc4a9c629",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5af744ffe7f736e8",
        "type": "ui_group",
        "name": "Tambahan",
        "tab": "bf813ccbc4a9c629",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf813ccbc4a9c629",
        "type": "ui_tab",
        "name": "Dashboard Sensor DHT22",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]