Node-RED_ESP32+MQTT+DHT22.json
[
    {
        "id": "d2f9f79fb8265b4d",
        "type": "tab",
        "label": "MQTT DHT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "617d3ff3bd449412",
        "type": "aedes broker",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4ad876d6531f40fb",
        "type": "mqtt in",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "topic": "jhnizl/sensordata",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "990704f70c332851",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "6776d1948cf1ba3b"
            ]
        ]
    },
    {
        "id": "49b538c076d68f69",
        "type": "debug",
        "z": "d2f9f79fb8265b4d",
        "name": "ALL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "6776d1948cf1ba3b",
        "type": "json",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "49b538c076d68f69",
                "744133034e723d31",
                "b49552ab1976e753",
                "baddd520a98f9c5f",
                "213187f090148b37"
            ]
        ]
    },
    {
        "id": "744133034e723d31",
        "type": "function",
        "z": "d2f9f79fb8265b4d",
        "name": "parse temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "4dbc38e4f66b4fac",
                "c4ac2680d2fffef2",
                "90f4ae8c4b78b964",
                "a9f13f22361f2e2e"
            ]
        ]
    },
    {
        "id": "4dbc38e4f66b4fac",
        "type": "debug",
        "z": "d2f9f79fb8265b4d",
        "name": "tempc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "b49552ab1976e753",
        "type": "function",
        "z": "d2f9f79fb8265b4d",
        "name": "parse hum",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "5845bcd39d206606",
                "f646d52c57b50a33",
                "247128eafafb2868",
                "9cb0324aa1558712"
            ]
        ]
    },
    {
        "id": "5845bcd39d206606",
        "type": "debug",
        "z": "d2f9f79fb8265b4d",
        "name": "hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "baddd520a98f9c5f",
        "type": "function",
        "z": "d2f9f79fb8265b4d",
        "name": "data",
        "func": "var now = new Date().toLocaleString(\"en-GB\");\n\n// Extracting tempc, humidity, and pot\nvar tempC = msg.payload.temperature.toFixed(2);\nvar humidity = msg.payload.humidity.toFixed(2);\n\n// Parse\nvar itempC = parseFloat(tempC);\nvar ihum = parseFloat(humidity);\n\n\n//============================== Local Node-red\n\n//Test local on node-red\nmsg.payload = {\n    temperature: itempC,\n    humidity: ihum,\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 440,
        "wires": [
            [
                "423da9e96142c9b0"
            ]
        ]
    },
    {
        "id": "423da9e96142c9b0",
        "type": "debug",
        "z": "d2f9f79fb8265b4d",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "213187f090148b37",
        "type": "function",
        "z": "d2f9f79fb8265b4d",
        "name": "function 6",
        "func": "var now = new Date().toLocaleString(\"en-GB\");\n\n// Extracting tempc, humidity, and pot\nvar tempC = msg.payload.temperature.toFixed(2);\nvar humidity = msg.payload.humidity.toFixed(2);\n\n// Parse\nvar itempC = parseFloat(tempC);\nvar ihum = parseFloat(humidity);\n\n//============================= SQL USE\n\n// Creating the SQL query\nvar temp = \"INSERT INTO [Dev].[dbo].[MQTTData] (Temperature, Humidity, Timestamp) VALUES (\" + itempC + \", \" + ihum + \",'\" + now + \"')\";\n\n// Set the SQL query to the payload\nmsg.payload = temp;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "a5ea7f41632f1b99"
            ]
        ]
    },
    {
        "id": "a5ea7f41632f1b99",
        "type": "MSSQL",
        "z": "d2f9f79fb8265b4d",
        "mssqlCN": "e4ced3c6a5375188",
        "name": "localhost",
        "query": "",
        "outField": "payload",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "18a6ad2f3b483340"
            ]
        ]
    },
    {
        "id": "18a6ad2f3b483340",
        "type": "debug",
        "z": "d2f9f79fb8265b4d",
        "name": "-o SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "90f4ae8c4b78b964",
        "type": "ui_chart",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c4ac2680d2fffef2",
        "type": "ui_gauge",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "247128eafafb2868",
        "type": "ui_chart",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f646d52c57b50a33",
        "type": "ui_gauge",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "31edeb3349f80831",
        "type": "ui_text",
        "z": "d2f9f79fb8265b4d",
        "group": "01496cdc1387df8e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alexander Johan Pramudito (22/492990/TK/53976)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "2bb59abd3c1c537d",
        "type": "ui_text",
        "z": "d2f9f79fb8265b4d",
        "group": "01496cdc1387df8e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Muhammad Fajrulfalaq Izzulfirdausyah Suryaprabandaru (22/494174/TK/54184)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "9cb0324aa1558712",
        "type": "ui_gauge",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "a9f13f22361f2e2e",
        "type": "ui_gauge",
        "z": "d2f9f79fb8265b4d",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "990704f70c332851",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "180",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e4ced3c6a5375188",
        "type": "MSSQL-CN",
        "name": "SQL",
        "server": "localhost",
        "encyption": true,
        "database": "Dev"
    },
    {
        "id": "aa7bcc8a27ba629e",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "bf813ccbc4a9c629",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01496cdc1387df8e",
        "type": "ui_group",
        "name": "Nama Mahasiswa",
        "tab": "bf813ccbc4a9c629",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5af744ffe7f736e8",
        "type": "ui_group",
        "name": "Tambahan",
        "tab": "bf813ccbc4a9c629",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf813ccbc4a9c629",
        "type": "ui_tab",
        "name": "Dashboard Sensor DHT22",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]