Node-RED_ESP32_MQTT_DHT22.json
[
    {
        "id": "294f01251eef2a93",
        "type": "tab",
        "label": "MQTT DHT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "772a9240e208699d",
        "type": "aedes broker",
        "z": "294f01251eef2a93",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 390,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f351d3401a2189f5",
        "type": "mqtt in",
        "z": "294f01251eef2a93",
        "name": "",
        "topic": "jhnizl/sensordata",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "990704f70c332851",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "c68985d2dc8fe2a4"
            ]
        ]
    },
    {
        "id": "5208fb6e7f1f4ce0",
        "type": "debug",
        "z": "294f01251eef2a93",
        "name": "ALL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "c68985d2dc8fe2a4",
        "type": "json",
        "z": "294f01251eef2a93",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "5208fb6e7f1f4ce0",
                "527eef34021dc753",
                "7e49957dae7fd5fe",
                "9abe73838deec4b4"
            ]
        ]
    },
    {
        "id": "527eef34021dc753",
        "type": "function",
        "z": "294f01251eef2a93",
        "name": "parse temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "5cf91e699f28d1cd",
                "9434238a20ac7ff3",
                "780e8f5bca714e0a",
                "ecc215eee51f4624"
            ]
        ]
    },
    {
        "id": "5cf91e699f28d1cd",
        "type": "debug",
        "z": "294f01251eef2a93",
        "name": "tempc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "7e49957dae7fd5fe",
        "type": "function",
        "z": "294f01251eef2a93",
        "name": "parse hum",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "32d220d01ac8c1bb",
                "2061834bcf17abf5",
                "97d8f3d0f5f39238",
                "d0a50439d9b499d2"
            ]
        ]
    },
    {
        "id": "32d220d01ac8c1bb",
        "type": "debug",
        "z": "294f01251eef2a93",
        "name": "hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "9abe73838deec4b4",
        "type": "function",
        "z": "294f01251eef2a93",
        "name": "function 6",
        "func": "var now = new Date().toLocaleString(\"en-GB\");\n\n// Extracting tempc, humidity, and pot\nvar tempC = msg.payload.temperature.toFixed(2);\nvar humidity = msg.payload.humidity.toFixed(2);\n\n// Parse\nvar itempC = parseFloat(tempC);\nvar ihum = parseFloat(humidity);\n\n//============================= SQL USE\n\n// Creating the SQL query\nvar temp = \"INSERT INTO [Dev].[dbo].[MQTTData] (Temperature, Humidity, Timestamp) VALUES (\" + itempC + \", \" + ihum + \",'\" + now + \"')\";\n\n// Set the SQL query to the payload\nmsg.payload = temp;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "6aa314f67c1c5d46"
            ]
        ]
    },
    {
        "id": "6aa314f67c1c5d46",
        "type": "MSSQL",
        "z": "294f01251eef2a93",
        "mssqlCN": "e4ced3c6a5375188",
        "name": "localhost",
        "query": "",
        "outField": "payload",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "6b7f7302fb37db12"
            ]
        ]
    },
    {
        "id": "6b7f7302fb37db12",
        "type": "debug",
        "z": "294f01251eef2a93",
        "name": "-o SQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "780e8f5bca714e0a",
        "type": "ui_chart",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9434238a20ac7ff3",
        "type": "ui_gauge",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "97d8f3d0f5f39238",
        "type": "ui_chart",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2061834bcf17abf5",
        "type": "ui_gauge",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "aa7bcc8a27ba629e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "2037dcb1f29aef80",
        "type": "ui_text",
        "z": "294f01251eef2a93",
        "group": "01496cdc1387df8e",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alexander Johan Pramudito (22/492990/TK/53976)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "2cef6f9a5b78ce3e",
        "type": "ui_text",
        "z": "294f01251eef2a93",
        "group": "01496cdc1387df8e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Muhammad Fajrulfalaq Izzulfirdausyah Suryaprabandaru (22/494174/TK/54184)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "d0a50439d9b499d2",
        "type": "ui_gauge",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "ecc215eee51f4624",
        "type": "ui_gauge",
        "z": "294f01251eef2a93",
        "name": "",
        "group": "5af744ffe7f736e8",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "990704f70c332851",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "180",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e4ced3c6a5375188",
        "type": "MSSQL-CN",
        "name": "SQL",
        "server": "localhost",
        "encyption": true,
        "database": "Dev"
    },
    {
        "id": "aa7bcc8a27ba629e",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "bf813ccbc4a9c629",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01496cdc1387df8e",
        "type": "ui_group",
        "name": "Nama Mahasiswa",
        "tab": "bf813ccbc4a9c629",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5af744ffe7f736e8",
        "type": "ui_group",
        "name": "Tambahan",
        "tab": "bf813ccbc4a9c629",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf813ccbc4a9c629",
        "type": "ui_tab",
        "name": "Dashboard Sensor DHT22",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]